<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/home/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Nâng Cao Kỹ Năng Nghe Tiếng Anh Của Bạn</h1>
                            <p class="fs-5 text-white mb-4 pb-2">"Phát triển khả năng nghe tiếng Anh thông qua các bài tập thực tế. Nâng cao kỹ năng nghe hiểu với các đoạn hội thoại, sách nói và podcast phù hợp cho mọi trình độ. Thành thạo kỹ năng nghe và tự tin hơn trong giao tiếp."</p>
                            <a asp-area="" asp-controller="Listening" asp-action="Index" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Bắt Đầu Luyện Nghe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/home/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Tự Tin Nói Tiếng Anh Mỗi Ngày</h1>
                            <p class="fs-5 text-white mb-4 pb-2">"Luyện nói tiếng Anh một cách tự nhiên với các bài học hướng dẫn và công cụ tương tác. Cải thiện phát âm, độ lưu loát và kỹ năng giao tiếp. Tự tin nói tiếng Anh như người bản xứ trong mọi tình huống."</p>
                            <a asp-area ="" asp-controller="Speaking02" asp-action="Index" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Bắt Đầu Luyện Nói</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/home/img/carousel-1.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Phát Triển Kỹ Năng Đọc Hiểu Tiếng Anh</h1>
                            <p class="fs-5 text-white mb-4 pb-2">"Nâng cao khả năng đọc hiểu của bạn với các bài viết, câu chuyện và tài liệu thú vị. Học từ vựng mới, cải thiện khả năng hiểu sâu và tăng tốc độ đọc với nhiều chủ đề hấp dẫn phù hợp cho mọi người học."</p>
                            <a asp-area="" asp-controller="Reading" asp-action="Index" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Bắt Đầu Luyện Đọc</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/home/img/carousel-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
                            <h1 class="display-3 text-white animated slideInDown">Thành Thạo Kỹ Năng Viết Tiếng Anh</h1>
                            <p class="fs-5 text-white mb-4 pb-2">"Rèn luyện khả năng viết của bạn thông qua các bài học bài bản và phản hồi cá nhân. Từ ngữ pháp đến viết sáng tạo, bạn sẽ làm chủ kỹ năng diễn đạt ý tưởng rõ ràng và hiệu quả bằng tiếng Anh."</p>
                            <a asp-area="" asp-controller="Writing" asp-action="Index" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Bắt Đầu Luyện Viết</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
