<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-graduation-cap text-primary mb-4"></i>
                        <h5 class="mb-3">Luyện từ vựng</h5>
                        <p>Xây dựng vốn từ vựng với các bài học sinh động và flashcards thông minh</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                        <h5 class="mb-3">Bài tập ngữ pháp</h5>
                        <p>Cải thiện kỹ năng ngữ pháp với các bài tập chuyên sâu và có đáp án chi tiết</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-home text-primary mb-4"></i>
                        <h5 class="mb-3">Bài kiểm tra thử</h5>
                        <p>Hệ thống tự động chấm điểm và phân tích kết quả để bạn cải thiện hiệu quả</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                        <h5 class="mb-3">Phát triển kỹ năng</h5>
                        <p>Phát triển toàn diện kỹ năng nghe, nói, đọc, viết với các bài học và bài tập chuyên biệt</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>