@model elearning_b1.Models.ReadingSkill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div class="container mt-4">
    <h2 class="text-center mb-4">@Model.Title</h2>

    @if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <div class="text-center mb-3">
            <img src="@Model.ImageUrl" alt="Image" class="img-fluid" />
        </div>
    }

    <div>
        @foreach (var paragraph in Model.Content.Split(Environment.NewLine, StringSplitOptions.RemoveEmptyEntries))
        {
            <p>@paragraph</p>
        }
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary mt-3">Quay lại</a>
</div>
