@model elearning_b1.Models.Vocabulary

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Vocabulary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  method="post" enctype="multipart/form-data">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Word" class="control-label"></label>
                <input asp-for="Word" class="form-control" />
                <span asp-validation-for="Word" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meaning" class="control-label"></label>
                <input asp-for="Meaning" class="form-control" />
                <span asp-validation-for="Meaning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pronunciation" class="control-label"></label>
                <input asp-for="Pronunciation" class="form-control" />
                <span asp-validation-for="Pronunciation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExampleSentence" class="control-label"></label>
                <input asp-for="ExampleSentence" class="form-control" />
                <span asp-validation-for="ExampleSentence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartOfSpeech" class="control-label"></label>
                <select asp-for="PartOfSpeech" class="form-control" asp-items="Html.GetEnumSelectList<PartOfSpeech>()"></select>
                <span asp-validation-for="PartOfSpeech" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="audioFile">Upload Audio File</label>
                <input type="file" name="audioFile" class="form-control" />
                @if (Model.AudioFile != null)
                {
                    <div>
                        <audio controls>
                            <source src="@Model.AudioFile" type="audio/mpeg" />
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="TopicID" class="control-label"></label>
                <select asp-for="TopicID" class="form-control" asp-items="ViewBag.TopicID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="ByTopic" asp-route-topicId="@ViewBag.ReturnTopicId">Back to List</a>
</div>
