@model elearning_b1.Models.Writing

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Writing</h4>
<hr />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Prompt" class="control-label"></label>
                    <input asp-for="Prompt" class="form-control" />
                    <span asp-validation-for="Prompt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suggestions" class="control-label"></label>
                    <textarea id="Suggestions" name="Suggestions" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="Suggestions" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="https://cdn.ckeditor.com/4.21.0/full/ckeditor.js"></script>

<script>
    CKEDITOR.replace('Suggestions', {
        width: '100%',
        height: 400
    });
</script>

<style>

    .form-control {
        width: 100%;
    }
</style>